.carosal {
  padding: 20px 8%;
  background: #e5e5e5;
  /* position: relative; */
}
.carosal h1 {
  margin-bottom: 10px;
}
.carosal p {
  margin-bottom: 10px;
}
.topbookcard {
  border-radius: 16px;
  background-color: #fff;
  padding: 30px 60px;
  margin-top: 40px;
}
.topbookcard h2 {
  margin: 20px;
}
.head button {
  padding: 10px 20px;
  gap: 8px;
  width: 124px;
  height: 46px;
  background: #0284c7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
  color: white;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.contact div {
  display: flex;
  gap: 10px;
}
.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: black;
}
