* {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
}
.login {
  display: flex;

  background: #e4e7eb;
  height: 100vh;
  overflow: hidden;
}
.logincard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.image {
  width: 50vw;
}
