.errorimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  background-color: transparent;
  border-style: none;
  width: 200px;
  text-align: left;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}
.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shelfs {
  display: flex;
}
.search {
  display: flex;
  justify-content: space-between;
}
.search label {
  flex-grow: 1;
}
.goku {
  width: 90%;
}
.books {
  display: flex;
  flex-wrap: wrap;
}
